section{
	min-height: 100vh;
	max-height: 100vh;
	position:relative;
}

#scrollDown{
	position: absolute;
	bottom: 10px;
	text-align: center;
	width:80%;
    margin: 0 0 0 -40%;
    left:50%;
    font-size: 2em;
}


.jumbotron{
	max-width: 600px;
	margin-top: 30px;
	background-color: white !important;
	/*background: rgba(238 ,238 ,238 ,0.8);*/
}
@media (max-width: 369px){
	#name{
		font-size: 4rem;
		font-weight: 400;
	}
	#bio{
		font-size: 1.5rem;
		font-weight: 300;
	}
}
@media (min-width: 370px) and (max-width: 510px ) {
	#name{
		font-size: 4rem;
		font-weight: 400;
	}
	#bio{
		font-size: 2rem;
		font-weight: 400;
	}
}
@media (min-width: 511px){
	#name{
		font-size: 7rem;
		font-weight: 700;
	}
	#bio{
		font-size: 2.5rem;
		font-weight: 700;
	}
}


i{
	color: #DDDDDD;
}

#main.container{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;	
}

html{
     height:100%;
     min-height:100%;
     }

.cvitems ul{
	padding-left: 15px;
	list-style-position: outside;
}
.cvitems li{
	padding-top:10px;
}

body{
	padding:0px;
	margin:0px;
	background-image: url("../media/background3.jpg");
	background-size: cover !important;
	background-repeat:no-repeat;
	background-position:right bottom;
	background-attachment: fixed;
	-webkit-background-size: cover !important;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
	color: #505050;
}

.summary{
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	margin-left: 10%;
	margin-top: 5%;
	margin-right: 20px;
	border-radius:10px;	
}

#about{
	padding-top: 30px;
	background-color: transparent;
	position: relative;
}

.cvitem{
	padding-left: 10px;
}

.contact{
	padding-top: 20px;
}

#dl-resume{
	margin-top: 20px;
}

#email-btn{
	font-size: 32px;
	color: black;
	vertical-align: middle;
}

.black-link:link{
	color: black;
	font-size: 32px;
}