---
layout: default
---

<section id="main">
	{{ content }}
</section>

{% for page in site.pages %}
  {% if page.section-type == "timeline" %}
	<!-- {{ page.title }} Section -->
	<section id="{{ page.title }}" class="text-center">
		<div class="row">
			<div class="col-lg-12">
			{{ page.content | markdownify }}
			<ul class="timeline">
			{% for post in site.posts %}
				{% assign loopindex = forloop.index | modulo: 2 %}
				{% capture class %}
					{% if loopindex == 0 %}
						timeline-inverted
					{% endif %}
				{% endcapture %}

				<li class="{{ class }}">
					<!-- this will go to timeline layout -->
					{{ post }}
				</li>

			{% endfor %}
 
			</ul>

		  </div>
	  </div>
	</section>
  {% endif %}
{% endfor %}

<section id="contact">
	{% capture contact %}{% include contact.md %}{% endcapture %}
	{{ contact | markdownify }}
</section>
